<div class="container mb-3 mt-3">
  <h1>My tasks</h1>
  <ul class="list-unstyled">
    <% @tasks.each do |task| %>
      <li><%= task.completed ? "✔" : "🔲" %> <%= link_to task.title, task_path(task.id) %></li>
    <% end %>
  </ul>
  <%= link_to  "Add a new task", new_task_path %>
</div>